/*
-------------------------------------------------------------------
Skin: Yellow Business
-------------------------------------------------------------------

Table of contents

1. Colors  [Row 30] 
2. Custom classes [Row 226] 
3. Layout and typography [Row 427] 
4. Headers and menu [Row 524] 
5. Titles [Row 724] 
6. Footer [Row 809] 
7. Components [Row 860] 
8. Containers [Row 1526] 
9. Mobile / responsive [Row 1701] 

-------------------------------------------------------------------

*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');


/*
-------------------------------------------------------------------
COLORS
-------------------------------------------------------------------
*/


.extra-content, .nav:not(.ms-rounded) li > a:before, .boxed.advs-box-top-icon-img .advs-box-content, [class*="col-md-"].boxed,
.advs-box-side-img hr, .mi-menu .sidebar-nav, .advs-box-top-icon-img.niche-box-post:after, .accordion-list .list-group-item:before, [class*=header-] .title-base h1:before,
.woocommerce .product span.onsale, .circle-button, .btn.circle-button, .btn, .header-bootstrap, .header-title hr, .advs-box.boxed, i.circle, .intro-box:after, .intro-box:before,
.advs-box-side-img hr, .call-action-box, .title-base hr, .nav.inner.ms-mini, .bg-color, .header-title.white .title-base hr, .header-animation.white .title-base hr,
.title-base .scroll-top, .title-modern .scroll-top, i.square, .header-base, .progress-bar, .tagbox span, .niche-box-post .block-infos .block-data, .header-base .title-base h1:before {
    background-color: #ED1C24;
}

    .navbar-inner .nav.ms-minimal li a:before, .header-base.white, .advs-box-multiple.boxed .advs-box-content {
        background-color: #ED1C24 !important;
    }

    .btn:not(.btn-border):hover, .btn-primary:focus, .boxed .btn, .btn-primary.focus, .side-menu .active,
    .white.circle-button:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover,
    .woocommerce input.button.alt:hover, .white .title-base.yellow-bar hr {
        background-color: #ED1C24 !important;
    }

    i.icon, .fullpage-menu .active i, .navbar-default .navbar-toggle:hover i, .navbar-default .navbar-toggle:focus i, header .side-menu .active > a,
    .adv-img-button-content .caption i, .icon-menu ul.nav > li.active > a i, .icon-menu ul.nav > li:hover > a i, .active .maso-order i, .btn.btn-border i, .advs-box-top-icon:not(.boxed) i.icon,
    .datepicker-panel > ul > li.picked, .tab-box .nav-tabs > li.active > a,
    .advs-box-content h2:hover a, .pricing-table .pricing-price span, .datepicker-panel > ul > li.picked:hover, footer h4, .box-menu-inner .icon-box i,
    .caption-bottom p, .mi-menu li .fa, .fullpage-arrow.arrow-circle .arrow i, .accordion-list .list-group-item > a i, .mega-menu .fa-ul .fa-li,
    .adv-circle.adv-circle-center i, .mi-menu a > .fa, .box-steps .step-item:after, .box-steps .step-number, h6, li.panel-item .fa-li, .icon-menu .navbar-collapse ul.nav i,
    .side-menu i, .side-menu ul a i, .bs-menu li:hover > a, .bs-menu li.active > a, .hamburger-button:hover, .img-box.adv-circle i, .advs-box-side .icon, .advs-box-side-icon i,
    .niche-box-testimonails h5, .title-icon i, i, .fullpage-menu.white li.active a i, .timeline > li > .timeline-label h4, .anima-button i, .pricing-table .list-group-item.pricing-price,
    .footer-center .footer-title, .accordion-list .list-group-item > a.active, .btn-border, .btn.btn-border, .btn.circle-button.btn-border, footer a:hover, .block-quote.quote-1:before,
    .block-quote.quote-2:before, .breadcrumb > li + li:before, .adv-img-full-content p.sub {
        color: #ED1C24;
    }

@media (max-width: 994px) {
    .navbar-nav .open .dropdown-menu > li > a[href="#"] {
        color: #ED1C24 !important;
    }
}

.footer-minimal .footer-title, .advs-box-top-icon.boxed .btn, .advs-box-top-icon.boxed .circle-button, .sidebar-nav ul a:hover, header .mi-menu .sidebar-nav ul a:hover,
.woocommerce div.product p.price, .woocommerce div.product span.price, .white .text-color, .accordion-list .list-group-item > a:hover, .boxed .circle-button:hover i,
.boxed .btn:hover i, .pagination > .active > a, .pagination > li:not(.disabled):hover > a, .boxed .circle-button, header .btn-search:hover, .advs-box h2 a:hover, .nav.ms-minimal > li.active > a {
    color: #ED1C24 !important;
}

.btn-border:hover, .btn.btn-border:hover, .btn.circle-button.btn-border:hover, .tag-row i {
    color: #ED1C24;
}

    .btn-border:hover i, .white .btn i {
        color: #ED1C24 !important;
    }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .pagination > li:not(.disabled):hover > a i:before, .advs-box-multiple div.circle, .advs-box-multiple div.circle i {
    border-color: #ED1C24 !important;
    color: #ED1C24 !important;
}

.nav.inner.ms-rounded > li > a:hover, .nav.inner.ms-rounded > li.active a {
    background-color: #ED1C24 !important;
    border-color: #ED1C24 !important;
}

.circle-button, .btn-default, .white .btn:not(.btn-border), .btn-border, .bg-transparent .navbar-nav > li.active > a .caret:before, .bg-transparent .navbar-nav > li:hover > a .caret:before,
.white .btn-text, .scroll-top-mobile:hover:before, .tab-box.left:not(.pills) .panel-box, .tab-box.right:not(.pills) .panel-box, .tab-box.right .nav-tabs {
    border-color: #ED1C24;
}

.boxed.advs-box-multiple .advs-box-content, .niche-box-post, .extra-content, .quote-author, .border-color, .border-color.boxed-border.boxed-border.white, .img-border, .timeline > li > .timeline-badge,
body div.boxed-border.border-yellow, .pagination li.active a {
    border-color: #ED1C24 !important;
}

.datepicker-top-left, .datepicker-top-right {
    border-top-color: #ED1C24;
}

    .datepicker-top-left:before, .datepicker-top-right:before {
        border-bottom-color: #ED1C24;
    }

.text-color {
    color: #ED1C24;
}

.circle-button:hover, .btn:hover {
    border-color: #ED1C24 !important;
}

.btn-text, html .advs-box .btn-text:after {
    color: #ED1C24;
    border-color: #ED1C24;
}

.white.btn, .white .btn, .white .tag-row a, .header-bootstrap i.icon, .white .tag-row i, .white .advs-box-content h2 a, .white.advs-box-side-img h2 a, .advs-box-side-icon.boxed .icon-box i,
.circle-button, .white .pagination > li.disabled > a, .white .pagination > li > a, .social-colors i, .btn.circle-button, .btn, .btn i, .circle-button, .btn.circle-button, .btn:hover,
.btn:hover i, .btn.focus, .input-group button {
    color: #fff;
}

    .nav.inner.ms-rounded > li > a:hover, .white .btn-text:hover, .header-base.white .breadcrumb.b a, .mi-menu .sidebar-nav ul a:hover, .white .btn.btn-border:hover, .white.advs-box-top-icon h3,
    .nav.inner:not(.ms-rounded) > li.active, .nav.inner.ms-rounded > li.active a, .nav.inner.ms-rounded li:hover i, .ms-rounded .active .maso-order i, .white .btn.circle-button.btn-border,
    .boxed .btn-text, .advs-box.white h3 {
        color: #fff !important;
    }

.section-bg-image .advs-box.boxed-inverse, .white .flex-control-paging li a:hover, body .section-bg-color .advs-box-blog.boxed-inverse, .adv-img-down-text.boxed-inverse:hover, .advs-box-multiple div.circle,
.section-bg-image [class*="col-md-"].boxed-inverse, [class*="shadow-"].boxed-inverse, .sidebar-nav ul ul, .base-box.boxed, .base-box.boxed-inverse, .advs-box.boxed-inverse {
    background-color: #fff;
}

header .side-menu .active, .white.btn:not(.btn-border), .white .btn:not(.btn-border), .white:not([class*="header-"]) .title-base hr, .bg-white {
    background-color: #fff !important;
}

.white .flex-control-paging li a.flex-active, .white.btn, .white .btn {
    border-color: #fff;
    background-color: #fff !important;
}

.white .flex-control-paging li a, body .white .flex-direction-nav a:before, .btn .caret:before, body .white .flex-direction-nav a.flex-next:before, .white .accordion-list .list-group-item > a:before {
    border-color: #fff;
}

.white .btn:hover, .white .pagination li > a i:before, .boxed-border.white, .boxed-border.boxed-border.white, .btn.white:hover, .white .btn:hover, .btn.white, .white .btn, .boxed .btn-text,
.white.bg-color .btn:not(.btn-border) {
    border-color: #fff !important;
}

.white form .form-control {
    border-color: #fff !important;
    color: #fff !important;
}

.section-bg-color .advs-box-top-icon.boxed-inverse .icon, .section-bg-color .advs-box-top-icon .icon, .navbar-mini, .header-base:not(.bg-cover) {
    background-color: #009048;
}

.navbar-default .navbar-nav > .active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .navbar-nav > li:hover > a, .nav.inner > li, .box-transparent .overlaybox-inner, header .input-group-btn .btn, header .input-group-btn .btn:hover,
.navbar-default .navbar-nav > li > a:hover, .dropdown-menu ul > li:hover > a, .navbar-main .btn-search:hover, .accordion-list .list-group-item > a:hover, .nav.inner, .bg-transparent li.active, .bg-transparent li:hover,
.tab-box .nav-tabs li.active, .white.btn.btn-border, .white .btn.btn-border, .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus,
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .nav-tabs > li.active > a {
    background: none !important;
}

header .input-group-btn .btn {
    border: none !important;
}

.advs-box .advs-box-content p, .advs-box-side-icon p, .maso-order i {
    color: #7a7a7a;
}

.white.btn:not(.btn-border), .white .btn:not(.btn-border) {
    color: #7a7a7a !important;
}

.input-group-btn .btn, .btn.btn-primary:hover {
    background-color: #9c9c9c !important;
    border-color: #9c9c9c !important;
}

    .input-group-btn .btn:hover, .btn.btn-primary {
        background-color: #7a7a7a !important;
        border-color: #7a7a7a !important;
    }

.color-4 {
    color: #53a0d8;
}

.advs-box h3 {
    color: #4C4C4C;
    font-weight: 400;
}

.white ::-webkit-input-placeholder {
    color: #fff;
}

.white ::-moz-placeholder {
    color: #fff;
}

.white :-ms-input-placeholder {
    color: #fff;
}

.white :-moz-placeholder {
    color: #fff;
}
/*
-------------------------------------------------------------------
CUSTOM CLASSES
-------------------------------------------------------------------
*/
.shadow-1 {
    box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.16);
}

.shadow-2 {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.13) !important;
}

img.shadow-2 {
    border-radius: 5px;
}

.boxed-inverse.shadow-1, .boxed.shadow-1 {
    border-radius: 2px;
}

.boxed-border, [class*="col-md-"].boxed-border {
    background: none !important;
    border: 4px solid #7a7a7a !important;
}

.opacity-8 {
    opacity: .8;
}

.width-400 {
    max-width: 400px;
}

.width-500 {
    max-width: 500px;
}

.width-600 {
    max-width: 600px;
}

.flexslider.nav-right .flex-control-nav {
    bottom: 0;
    right: 0;
    display: inline-block;
    width: auto;
}

.flexslider.nav-left .flex-control-nav {
    text-align: left;
    bottom: -60px;
}

.flexslider.nav-top-right .flex-control-nav {
    top: 15px;
    right: 15px;
    text-align: right;
    bottom: auto;
}

.flexslider.nav-top-right .flex-control-paging li a {
    text-indent: 9995px;
}

.flexslider.png-boxed .img-box {
    border: 1px solid #cecece;
    padding: 15px;
    width: 145px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .flexslider.png-boxed .img-box img {
        margin: 0 !important;
        display: inline-block !important;
        max-width: 100% !important;
    }

.border-table.text-left:not(.table-bordered) td:first-child {
    padding-left: 0;
}

.border-table.text-left:not(.table-bordered) td:last-child {
    padding-right: 0;
    border-right: 0;
}

.border-table.text-left:not(.table-bordered) td {
    border: none;
    border-right: 1px solid #D2D2D2;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
}

.img-bubble span.caption-box {
    position: absolute;
    top: 0;
    margin: 50px;
    width: 200px;
    height: 200px;
    padding: 0px;
    background: #fff;
    z-index: 2;
    border-radius: 200px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-bubble .caption-box:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0;
    border-color: #fff rgba(0, 0, 0, 0);
    display: block;
    width: 0;
    z-index: 1;
    bottom: 15px;
    left: 157px;
    transform: rotate(-45deg);
}

.img-bubble.img-box.inner .caption {
    margin: 0 15px;
    width: 170px;
    height: auto;
    background: none;
    color: #4e4e4e;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-shadow: none;
}

.img-border {
    border: 1px solid #7a7a7a;
}

.bg-img {
    margin: -81px -15px !important;
    width: calc(100% + 30px);
    max-width: 200%;
}

.section-doc {
    border-top: 1px solid #e0e0e0;
}

body .block-quote.quote-gray:before {
    color: #dedede;
}

@keyframes border-animation {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@keyframes border-animation-2 {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.intro-box {
    position: relative;
    background: none !important;
}

    .intro-box:after, .intro-box:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 100%;
        right: 0;
        top: 0;
        animation: border-animation 2s;
    }

    .intro-box:before {
        left: auto;
        right: 0;
        width: 100%;
        height: 10px;
        animation: border-animation-2 2s;
    }

/*
-------------------------------------------------------------------
LAYOUT & TYPOGRAPHY
-------------------------------------------------------------------
*/
body, p {
    font-size: 14px;
    line-height: 23px;
}

body, p, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.text-normal, .timeline > li > .timeline-label p, .timeline > li > .timeline-label h4, .timeline-title, .form-box p {
    font-weight: 400;
}

.text-bold, .collapse-button b, #comments h4, #comments h5, .nav-pills > li > a {
    font-weight: 500 !important;
}

p {
    letter-spacing: .5px;
}

.text-xs {
    font-size: 12px !important;
    line-height: 16px;
}

.text-s {
    line-height: 20px;
}

.text-l {
    line-height: 38px;
}

.text-xl {
    line-height: 60px;
    font-size: 45px !important;
}

hr {
    border-top: 1px solid #d6d6d6;
}

.container.content, .section-empty > .content, .section-bg-image > .content, .section-bg-video > .content, .section-bg-animation > .content, .section-slider > .content, .section-two-blocks .content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.base-box.boxed, .base-box.boxed-inverse, .boxed-inverse, [class*="col-md-"].boxed, [class*="col-md-"].boxed-inverse, .grid-box > .grid-item.boxed-inverse, .row.vertical-row > div.boxed-inverse, .row.vertical-row > div.boxed {
    padding: 50px;
}

    [class*="col-md-"].boxed.small-padding, [class*="col-md-"].boxed-inverse.small-padding {
        padding: 25px;
    }

h1 + p, h2 + p, h3 + p, h4 + p {
    margin-top: 20px;
}

h1, .h1 {
    line-height: 50px;
}

h2, .h2 {
    line-height: 35px;
}

h4, .h4 {
    line-height: 23px;
}

.quote-author {
    font-style: normal;
    font-weight: 400;
    padding-left: 15px;
    border-left: 4px solid #7d7d7d;
}

.section-bg-color hr {
    border-color: #b3b3b3;
}

.scroll-top-mobile {
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
    color: #b5b5b5;
    width: 35px;
    height: 35px;
    bottom: 15px;
    right: 15px;
}
/*
-------------------------------------------------------------------
HEADER AND MENUS
-------------------------------------------------------------------
*/

.nav:not(.ms-rounded) li.active > a:before, .nav:not(.ms-rounded) li:hover > a:before {
    width: 100%;
}

.nav:not(.ms-rounded) li {
    position: relative;
}

    .nav:not(.ms-rounded) li > a:before {
        content: '';
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 0%;
        height: 2px;
        transition: all 0.35s ease-out;
        -webkit-transition: all 0.35s ease-out;
    }

.navbar-brand {
    height: 60px;
}

.nav .caret:before {
    border-color: #7d7d7d;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
}

.navbar-main .btn-search {
    margin-top: 12px;
    border: none;
    background: none;
    font-size: 24px;
}

.search-box {
    margin: 85px 0 0 0;
}

.navbar-mini {
    border: none;
}

    .navbar-mini .navbar-left {
        padding-top: 7px;
        padding-left: 25px;
    }

    .navbar-mini span i {
        font-size: 13px;
        transform: translateY(-0.5px);
        display: inline-block;
        color: #000;
    }

    .navbar-mini span {
        padding: 0 7px;
        font-weight: 400;
        letter-spacing: .5px;
        opacity: .9;
    }

    .navbar-mini > .container {
        padding-left: 225px;
    }

@media (min-width: 995px) {
    .navbar-mini:not(.hidden) + .navbar-main .navbar-header {
        margin-top: -22px;
        padding-left: 55px;
        padding-right: 25px;
        margin-left: -55px;
        background: #fff;
        position: relative;
    }

        .navbar-mini:not(.hidden) + .navbar-main .navbar-header:after {
            position: absolute;
            content: '';
            background-color: #009048;
            height: 90px;
            width: 60px;
            right: -10px;
            left: auto;
            top: -73px;
            transform: rotate(125deg);
        }

        .navbar-mini:not(.hidden) + .navbar-main .navbar-header:before {
            position: absolute;
            content: '';
            background-color: #fff;
            height: 22px;
            width: 6000px;
            right: 0;
            top: 0px;
            z-index: 0;
        }
}

.navbar-big-logo .navbar-mini:not(.hidden) + .navbar-main .navbar-header {
    padding-right: 0;
}

.navbar-big-logo .navbar-main .navbar-header:after {
    display: none;
}

.navbar-mini:not(.hidden) + .navbar-main .navbar-brand {
    margin-top: 10px;
}

.nav.ms-minimal > li > a {
    border-bottom: none;
    font-weight: 500;
}

.nav.maso-filters {
    margin-bottom: 30px;
}

    .nav.maso-filters a {
        padding-top: 0;
    }

.inner.ms-minimal li a {
    padding-top: 0;
}

.mega-menu a {
    height: 32px;
    margin-bottom: 7px;
    padding-left: 0;
    font-weight: 400;
    font-size: 14px;
}

.mega-menu .nav-tabs > li > a {
    padding: 15px 30px !important;
    height: 50px;
}

.mega-tabs .tab-box .panel.active {
    margin: 0 5px;
}

.mega-menu h5 {
    margin-bottom: 21px;
    font-weight: 400;
}

.mega-tabs .nav-tabs {
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
}

    .mega-tabs .nav-tabs li a:before {
        bottom: -1px;
    }

.navbar-main .navbar-form .form-control {
    border: none;
    border-bottom: 1px solid #e6e6e6;
}

.navbar-main .navbar-form .btn-search {
    font-size: 13px;
    margin-top: 0;
    border-bottom: 1px solid #e6e6e6;
    background: #f5f5f5;
}

header .navbar-main form.navbar-form {
    margin-top: 18px;
    padding: 0;
}

header .side-menu > li > a {
    font-weight: 500;
}

.side-menu-fixed .brand {
    text-align: left;
    padding: 25px 15px;
}

header .mi-menu ul li > a, header .sidebar-nav .panel-item > span {
    padding: 10px 15px;
}
/*
-------------------------------------------------------------------
TITLES
-------------------------------------------------------------------
*/
.title-base {
    flex-direction: column-reverse;
    display: flex;
}

[class*=header-] .title-base {
    text-align: left;
    display: block;
}

    [class*=header-] .title-base h1, [class*=header-] .title-icon h2, [class*=header-] .title-icon h1, [class*=header-] .title-base.title-small h2 {
        font-size: 50px;
        font-weight: 400;
        margin-top: 5px;
        position: relative;
    }

    [class*=header-] .title-base p, [class*=header-] div.title-icon p {
        max-width: 500px;
    }

.header-base .title-base {
    display: block;
}

    .header-base .title-base h1 {
        font-size: 35px;
        font-weight: 400;
        position: relative;
        color: #fff;
    }

[class*=header-] .title-base p {
    max-width: 500px;
    margin-top: 50px;
    color: #fff;
}

.title-base hr {
    width: 100%;
    opacity: 0;
    height: 5px;
}

.header-base .breadcrumb.b a, .header-base .breadcrumb li {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
}

.title-base h1:before {
    content: '';
    position: absolute;
    height: 5px;
    width: 150px;
    bottom: -20px;
}

.title-base.text-left hr, .title-base.text-left hr, [class*=header-] .title-base hr {
    opacity: 1;
}

[class*=header-] .title-base hr {
    display: none;
}

.title-base p {
    margin-top: 0;
}

.title-base.text-left p {
    margin-left: 1px;
    margin-bottom: 3px;
}

.title-base + .accordion-list > .list-group-item:first-child {
    border-top: none;
}


/*
-------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------
*/

footer {
    border-top: 1px solid #333333;
}

    footer p, footer a, footer li {
        opacity: .8;
        font-weight: 400;
    }

    footer a {
        line-height: 25px;
        color: #fff;
    }

    footer h3 {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 22px;
    }

    footer .container {
        padding: 40px 0 15px 0;
    }

    footer .copy-row .copy-text {
        border-top: 1px solid #333333;
        padding: 15px 0 0;
        margin: auto;
        font-weight: 400;
        color: #fff;
        letter-spacing: .3px;
        float: none;
    }

    footer .fa-ul .fa-li {
        font-weight: 600;
    }

    footer ul {
        padding-left: 16px;
    }

    footer .social-group {
        margin-bottom: 0;
    }

/*
-------------------------------------------------------------------
COMPONENTS
-------------------------------------------------------------------
*/
.accordion-list .list-group-item > a {
    font-weight: 400;
    padding-left: 20px;
}

    .accordion-list .list-group-item > a:before, .advs-box .btn-text:after, .box-steps .step-item:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-left: -21px;
        top: 19px;
        position: absolute;
        border-top-width: 2px;
        border-top-style: solid;
        border-right-width: 2px;
        border-right-style: solid;
        content: "";
        width: 6px;
        height: 6px;
        transition: all .15s;
        border-color: rgba(93, 93, 93, 0.5);
    }

.accordion-list .list-group-item > .panel > .inner {
    padding: 0px 15px 10px 20px;
}

.accordion-list .list-group-item > a.active:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 20px;
    font-size: 15px;
}

.btn-sm i {
    font-size: 14px;
    transform: translateY(1px);
    display: inline-block;
}

.btn-xs {
    font-size: 11px;
    line-height: 18px;
    padding-top: 2px;
    padding-bottom: 0;
}

    .btn-xs.btn-border {
        border-width: 1px;
    }

.load-more-maso.btn i, .load-more-grid.btn i {
    font-size: 11px;
    margin-left: 5px;
    transform: translateY(0px);
}

.btn-text {
    border-bottom-style: solid;
}

.btn-border, .btn-border, .white .btn-border {
    border-width: 1px;
    font-weight: 500;
}

.btn.white:hover, .white .btn:hover {
    opacity: .8;
}

.progress-circle .inner-circle .counter-circle {
    font-weight: 400;
    font-size: 19px;
}

.progress-circle .inner-circle .main {
    line-height: 18px;
    font-size: 11px;
    font-weight: 400;
    opacity: .7;
}

.progress-circle .inner-circle .subtitle {
    display: flex;
    flex-direction: column-reverse;
    margin: 5px 0 0 0;
}

.inner-circle hr {
    display: none;
}

.table:not(.grid-table) th {
    font-weight: 500;
}

table.table:not(.grid-table) > tbody > tr > td, table.table:not(.grid-table) > tbody > tr > th {
    font-size: 13px;
    padding: 15px;
}

.form-box .form-control {
    border: none;
    border-bottom: 1px solid #b9b9b9;
    border-radius: 0;
    background: none;
}

.comment-list .name {
    font-weight: 500;
}

.comment-list img {
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.advs-box-top-icon-img.boxed .advs-box-content, .advs-box-top-icon-img.boxed-inverse .advs-box-content {
    padding: 30px;
}

.section-bg-color .advs-box.boxed, .section-bg-color .advs-box.boxed-inverse, .section-bg-color .adv-img-down-text.boxed-inverse, .section-bg-color .niche-box-testimonails-cloud p {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
    border: 0 solid #eee;
}

.adv-img-full-content h2 {
    line-height: 19px;
}

.advs-box {
    overflow: hidden;
}

    .advs-box .btn-text {
        border: none;
        font-weight: 400;
        position: relative;
    }

        .advs-box .btn-text:after {
            margin-left: 7px;
            top: 9px;
            right: -13px;
        }

.advs-box-top-icon-img .img-box {
    margin: 1px;
}

.img-box.adv-img-half-content .caption, .img-box.adv-img-side-content .caption {
    padding: 20px 20px;
}

.adv-img-side-content .btn, .adv-img-side-content .btn-text {
    margin-top: 10px;
}

.adv-img h2, .adv-circle h2, .caption-bottom h2 {
    font-weight: 500;
}

div.adv-img p {
    font-weight: 300;
    margin-top: 5px;
}

.niche-box-post .text-m {
    font-size: 23px !important;
    line-height: 30px;
}

.niche-box-post h2 {
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 15px;
}

.advs-box h2 a {
    color: #4C4C4C;
    font-weight: 400;
}

.niche-box-post .block-infos {
    width: 250px;
    text-align: left;
    margin-left: 25px;
}

    .niche-box-post .block-infos .block-data {
        display: block;
        float: left;
        height: 30px;
        border: none;
    }

.block-infos .block-comment {
    display: none;
}

.niche-box-post .block-infos p.bd-day {
    display: inline-block;
    padding: 5px 0px 5px 10px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}

.niche-box-post .block-infos .bd-month {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding-right: 9px;
    color: #fff;
}

.niche-box-post .img-box {
    margin: 0;
}

.advs-box-top-icon-img.niche-box-post {
    border-top: 2px solid #7a7a7a;
}

.niche-box-post .tag-row {
    margin-bottom: 15px;
}

.niche-box-blog p.excerpt {
    font-size: 14px;
}

.niche-box-blog .block-infos {
    position: relative;
    padding-right: 0;
    text-align: left;
    width: 75px;
}

    .niche-box-blog .block-infos:after {
        content: "";
        position: absolute;
        width: 1px;
        border-right: 1px solid #d0d0d0;
        height: 100%;
        top: 0;
        right: 22px;
    }

.niche-box-blog .block-data {
    border: none;
}

.niche-box-blog .bd-day {
    font-weight: 400;
}

.niche-box-blog .bd-month {
    font-weight: 400;
    font-size: 11px;
}

.niche-box-blog a.btn, .niche-box-blog a.btn-text {
    margin-top: 0;
}

.extra-content {
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    background: none;
    border-left: none;
    color: #585858;
    border-top: 1px solid #7a7a7a;
    padding-left: 0;
    padding-right: 0;
}

.adv-img-down-text h2 a {
    font-weight: 400;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 17px;
}

.adv-img-down-text .caption-bottom p {
    margin-top: 0;
}

.adv-img-down-text.boxed-inverse .caption-bottom {
    border: 1px solid #e4e4e4;
    border-top: none;
}

.section-bg-color .adv-img-down-text.boxed-inverse .caption-bottom {
    border: none;
}

.niche-box-testimonails-cloud p {
    border-radius: 0;
    text-align: left;
}

.niche-box-testimonails-cloud .name-box .subtitle {
    padding-top: 16px;
    font-weight: 400;
}

.adv-img-classic-box .caption {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%,rgba(0, 0, 0, 0) 60%) !important;
    transform: translate3d(0,0,0);
}

.adv-img-classic-box > .img-box {
    background: #000;
}

.adv-img-classic-box:hover .img-box img {
    opacity: .5 !important;
}

.adv-img-classic-box .caption-inner h2 {
    margin-bottom: 0px;
    line-height: 20px;
}

.advs-box-top-icon {
    overflow: visible;
    position: relative;
}

    .advs-box-top-icon:not(.boxed) {
        padding-top: 27px !important;
    }

    .advs-box-top-icon.boxed-inverse, .advs-box-side-icon.boxed-inverse {
        background: none;
        border-style: solid !important;
        border-width: 1px;
        border-color: #dcdcdc;
    }

    .advs-box-top-icon:not(.boxed) .icon {
        box-shadow: none !important;
        font-size: 55px;
        height: 60px;
        width: 110px;
        padding: 0;
        margin: -70px 0 0 -56px;
        background: none;
    }

    .advs-box-top-icon.text-left .icon {
        text-align: left;
        left: 0;
        margin-left: 0;
    }

    .advs-box-top-icon.text-left.boxed .icon, .advs-box-top-icon.text-left.boxed-inverse .icon {
        left: 13px;
        text-align: center;
    }

    .advs-box-top-icon.boxed-inverse .icon {
        background: #fff;
    }

html body .advs-box-top-icon h3 {
    margin-top: 5px;
    font-weight: 400;
    font-size: 22px;
}

.list-items .list-item {
    border-bottom-style: solid;
}

    .list-items .list-item:first-child {
        padding-top: 0;
    }

    .list-items .list-item h3, ul.list-texts li b {
        font-weight: 500;
    }

    .list-items .list-item:hover {
        background: none;
    }

    .list-items .list-item span {
        font-size: 15px;
        font-weight: 400;
    }

    .list-items .list-item p {
        line-height: 19px;
        padding-top: 5px;
    }

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    font-weight: 500;
    font-size: 15px;
}

ul li .fa-li.fa-square {
    font-size: 10px;
    margin-top: 3px;
    margin-left: -8px;
}

.icon-box-cell i.text-xl {
    width: 55px;
}

.white .icon-box:not(.icon-box-top-bottom) .icon-box-cell:first-child, div.white .countdown > div:after {
    border-right: 2px solid rgba(255, 255, 255, 0.31);
}

.icon-box:not(.icon-box-top-bottom) .icon-box-cell:first-child {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 2px solid rgba(123, 123, 123, 0.25);
}

.icon-box.icon-box-right:not(.icon-box-top-bottom) .icon-box-cell:first-child {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}

.icon-box.icon-box-right:not(.icon-box-top-bottom) .icon-box-cell:last-child {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 2px solid rgba(123, 123, 123, 0.25);
}

.icon-box.icon-box-top-bottom .icon-box-cell > i {
    margin: 0px 0 15px 0;
}

.icon-box-top-bottom .icon-box-cell label {
    margin-bottom: 5px;
}



.advs-box-multiple .circle > i {
    line-height: 45px;
    height: 45px;
    width: 45px;
}


.advs-box-multiple .advs-box-content {
    padding: 30px;
}

.advs-box-multiple.boxed-inverse .advs-box-content {
    border: 1px solid #dcdcdc;
    border-top: none;
}

.advs-box-multiple div.circle {
    border: none;
    border-radius: 3px;
    width: 70px;
    height: 70px;
    font-size: 24px;
    right: 20px;
    line-height: 28px;
    border: 1px solid #a2a2a2;
}

    .advs-box-multiple div.circle span {
        line-height: 16px;
        color: #717171;
        font-weight: 400;
    }

.section-bg-color .advs-box-multiple.boxed-inverse .advs-box-content {
    border: none;
}

.progress {
    overflow: visible;
    height: 3px;
    background-color: #e8e8e8;
}

.progress-bar {
    box-shadow: none !important;
    color: #30353b;
    height: 3px;
}

    .progress-bar > span {
        padding: 2px 0 2px 5px;
        width: 60px;
        transform: translateY(-31px);
        border-radius: 3px;
        display: block;
        white-space: nowrap;
        font-weight: 500;
        letter-spacing: 1px;
        float: right;
        font-size: 12px;
        background: #2d2d2d;
        color: #fff;
        text-align: center;
    }

.pricing-table {
    overflow: hidden;
}

    .pricing-table .pricing-price.list-group-item {
        font-weight: 500;
        font-size: 45px;
        padding-top: 45px;
    }

    .pricing-table .list-group-item:nth-child(even) {
        background-color: #fff;
    }

    .pricing-table .list-group-item {
        border-bottom: none;
        font-size: 13px;
    }

    .pricing-table h3 {
        font-weight: 400;
    }

    .pricing-table .btn {
        margin-top: 15px;
        padding: 10px 25px;
        margin-bottom: 40px;
    }

    .pricing-table .pricing-price span {
        font-size: 18px;
        display: inline-block;
        transform: translateY(-2px);
    }

.pricing-table-big, [class*="section-"] > div > .row:first-child > div > .pricing-table-big {
    margin: -15px 0 0 0;
}

.niche-box-team .content-box hr {
    display: none;
}

.niche-box-team .content-box h2 {
    margin-top: 15px;
    font-weight: 400;
}

.niche-box-team .content-box h4 {
    font-size: 13px;
}

.advs-box-side-icon .icon-box i {
    font-size: 35px;
    line-height: 35px;
    text-align: left;
    width: 65px;
    margin-left: 1px;
    height: 35px;
}

    .advs-box-side-icon .icon-box i.text-xl {
        margin-right: 20px;
        line-height: 45px;
    }

.advs-box-side-icon .icon-box {
    padding-right: 0;
    vertical-align: top;
}

    .advs-box-side-icon .icon-box + .caption-box {
        position: relative;
    }

        .advs-box-side-icon .icon-box + .caption-box:before {
            content: '';
            position: absolute;
            height: 100%;
            height: calc(100% - 4px);
            width: 1px;
            margin-left: -13px;
            margin-top: 2px;
            background: #d6d6d6;
        }

.advs-box-side h3 {
    font-size: 21px;
    margin-bottom: 15px;
}

.advs-box-side hr {
    display: none;
}

[class*="boxed-"].advs-box-side .col-md-4 {
    margin: -25px;
    padding-right: 40px;
}

[class*="boxed-"].advs-box-side .img-box {
}

.timeline > li > .timeline-panel {
    border: none;
    border-right: 1px solid #D2D2D2;
    background: none;
    padding: 0 20px 0 0;
}

.timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 0 0 20px;
    border-right: none;
    border-left: 1px solid #D2D2D2;
}

.timeline:before {
    background: none;
}

.timeline > li > .timeline-badge {
    border-width: 2px;
    background: #fff;
}

.timeline > li {
    margin-bottom: 50px;
}

    .timeline > li:last-child {
        margin-bottom: 0;
    }

.niche-box-team:hover .img-box img {
    transform: translateY(25px) scale(1.2) !important;
}

.porfolio-bar a {
    font-size: 14px;
    font-weight: 500;
}

.counter-box-icon > div {
    text-align: left;
}

/*
-------------------------------------------------------------------
CONTAINERS
-------------------------------------------------------------------
*/
.nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs > li.active:hover > a, .nav-tabs > li:hover > a {
    padding: 5px 0 30px 0;
    border: none !important;
    background: none;
    font-weight: 500;
    margin: 0;
}

.nav-tabs > li {
    margin-right: 30px;
}

.tab-box.inverse .panel {
    padding-top: 0;
    border-top: 0;
}

.inverse .nav-tabs > li > a, .inverse .nav-tabs > li:hover > a {
    padding: 30px 0 5px 0;
}

.inverse .nav:not(.ms-rounded) li > a:before {
    top: -1px;
    bottom: auto;
}

.nav-tabs > li > a i {
    margin: 0 10px 0 0;
}

.tab-box.inverse .nav-tabs li.active a {
    border-top: none;
}

.tab-box > .panel, .tab-box > .panel-box > .panel {
    border: none;
    padding: 25px 0;
}

.nav-pills > li a:before {
    display: none;
}

.tab-box.left .panel-box .panel, .tab-box.right .panel-box .panel {
    border: none;
    padding: 0 0 0 15px;
}

.left .nav-tabs > li > a, .right .nav-tabs > li > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.tab-box.right .panel-box .panel {
    padding: 0 15px 0 0;
}

.tab-box.right .nav-tabs > li > a {
    padding-left: 15px;
}

.flexslider .flex-direction-nav li a:before {
    margin-top: 3px;
}

.flexslider .flex-direction-nav li a.flex-prev:before {
    margin-left: -15px;
}

.maso-box.row, .grid-box.row {
    margin: -7.5px;
    width: calc(100% + 15px);
}

.maso-box > .maso-item, .grid-box > .grid-item {
    padding: 7.5px;
}

.maso-30 .maso-box > .maso-item, .grid-30 .grid-box > .grid-item {
    padding: 15px;
}

.maso-30 .maso-box.row, .grid-30 .grid-box.row {
    margin: -15px;
    width: calc(100% + 30px);
}

.flex-control-paging li a, .header-slider .flex-control-paging li a {
    background: none;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(93, 93, 93, 0.5);
}

    .flex-control-paging li a.flex-active, .header-slider .flex-control-paging li a.flex-active {
        background: #949494;
        border-color: #949494;
    }

.box-transparent .overlaybox-inner {
    box-shadow: none;
    padding: 0 5px;
}

.box-steps .step-number {
    opacity: 1;
}

.box-steps .step-item:before {
    content: '';
    position: absolute;
    width: 1px;
    right: 29px;
    top: 50%;
    margin-top: -38px;
    height: 70px;
    background: rgba(113, 113, 113, 0.5);
}

.box-steps .step-item:after {
    opacity: 1;
    width: 18px;
    height: 18px;
    top: 50%;
    margin-right: 15px;
    background: #fff;
    border-top-width: 1px;
    border-right-width: 1px;
}

.box-steps .step-item:last-child:before {
    display: none;
}

.section-bg-color .box-steps .step-item:after {
    background: #f7f7f7;
}

.mfp-arrow-right:before {
    margin: 24px 0 0 9px;
}

.fixed-area.active .nav.inner.ms-rounded li a {
    background: #fff;
    box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.22);
    transition: box-shadow .3s;
}

.pagination li a, .pagination li.active a {
    font-weight: 400;
    background: none;
}

.pagination li:not(.active) a {
    border: none !important;
    background: none;
}

.pagination-sm > li > a {
    font-size: 13px;
}

.maso-list .list-nav, .grid-list .list-nav {
    margin-top: 35px;
}

.album-box .caption h2 {
    font-size: 17px;
}

/*
-------------------------------------------------------------------
RESPONSIVE
-------------------------------------------------------------------
*/
.navbar-toggle > i {
    margin-top: 13px;
}

@media (max-width:994px) {
    header .nav li > .mega-menu, .search-box, .flexslider.nav-top-right {
        margin: 0 !important;
    }

    header .navbar-main .col + .col ul, header .navbar-main .dropdown a + ul, .nav-tabs > li:first-child > a, .box-steps .step-item:first-child {
        padding-top: 0 !important;
    }

    .box-steps .step-item:last-child {
        padding-bottom: 0 !important;
    }

    .nav-tabs > li {
        margin-right: 0;
    }

    .title-base.text-left, .vertical-row > div, .row.vertical-row > div, .advs-box-side-icon .icon-box, .advs-box-side-icon .caption-box, .advs-box-side, .advs-box-side-icon p, .advs-box.advs-box-side p,
    .section .background-page, .section .content, .section .container {
        text-align: left !important;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    header .navbar-main ul {
        padding: 10px 0 0 0 !important;
    }

    .mega-menu .nav-tabs > li > a {
        padding-left: 15px !important;
    }

    .text-m-xs {
        font-size: 25px !important;
        line-height: 35px;
    }

    .text-m-sm {
        font-size: 30px !important;
        line-height: 35px;
    }

    .grid-table td {
        padding: 15px !important;
    }

    .grid-table {
        margin: -15px;
        width: calc(100% + 30px);
    }

    .nav.maso-filters a {
        padding-top: 0;
        margin-bottom: 10px;
    }

    .navbar-inner .navbar-toggle {
        border: 1px solid #e0e0e0;
    }

    .overlaybox-side .overlaybox-inner {
        padding: 30px;
    }

    .adv-img h2, .adv-circle h2, .caption-bottom h2 {
        line-height: 25px;
    }

    h2, .h2 {
        font-size: 20px;
        line-height: 30px;
    }

    h3 {
        line-height: 27px;
    }

    .nav-tabs > li {
        border: none;
    }

        .nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs > li.active:hover > a, .nav-tabs > li:hover > a {
            padding: 15px 0 15px 0;
        }

    a.img-bubble {
        padding-bottom: 140px;
        margin-bottom: -140px !important;
    }

    .box-steps .step-item:before, .section-bg-color .box-steps .step-item:after {
        display: none;
    }

    .box-steps .step-item {
        padding: 15px 50px;
    }

    .flexslider.nav-right .flex-control-nav {
        bottom: -14px;
    }

    [class*=header-] .title-base h1, [class*=header-] .title-icon h2, [class*=header-] .title-icon h1, [class*=header-] .title-base.title-small h2 {
        font-size: 30px;
        line-height: 35px;
    }

    [class*=header-] .title-base p, [class*=header-] div.title-icon p {
        margin-top: 40px;
    }

    .header-title, .header-video, .header-animation, .header-slider {
        height: 205px !important;
    }

    .header-base {
        padding-bottom: 20px;
    }

    footer .container {
        padding: 80px 0;
    }

    .timeline > li > .timeline-label {
        position: absolute;
        left: auto;
        right: 0;
        max-width: 65px;
        margin: 0;
    }

    .timeline > li.timeline-inverted > .timeline-label {
        left: 0;
        right: auto;
        text-align: right;
    }

    .timeline > li > .timeline-badge {
        display: none;
    }

    .timeline > li > .timeline-label p {
        font-size: 12px;
        white-space: normal;
    }

    .timeline > li > .timeline-label h4 {
        font-size: 16px;
    }

    header .dropdown-submenu a + .dropdown-menu a {
        padding-left: 20px;
    }

    .comment-list img {
        position: absolute;
        margin-top: 10px;
    }

    .comment-list .col-md-10 {
        padding-left: 60px;
    }

    .img-box.adv-img-side-content .caption {
        min-height: 180px;
    }

    .header-base .breadcrumb, .header-bootstrap .breadcrumb {
        text-align: right;
    }

    .advs-box-side-icon .icon-box, .advs-box-side-icon .caption-box {
        display: table-cell;
    }

    .pricing-table-big {
        margin: 0 0 20px 0 !important;
    }
}

@media (max-width: 767px) {
    .pagination-lg > li > a span {
        font-size: 15px;
    }

    .pagination-lg > li > a, .pagination-lg > li > span {
        padding: 8px 10px;
        font-size: 15px;
    }

    .header-base .breadcrumb, .header-bootstrap .breadcrumb {
        text-align: left;
    }
}
